* {
    margin: 0;
    padding: 0;
}

:root {
    --bg-main: #080710;       
    --bg-main2: #171528;      
    --bg-login-box: #1f1a3a;  
    --bg-dark: #050409;       

    --bg-login-box-back: rgba(255, 0, 128, 0.07);
    --bg-dark-back: rgba(157, 0, 255, 0.07);

    --bg-btn: #ff007f;
    --bg-dark-btn: #7000ff;

    --text-main: #f3f0ff;
    --text-muted: #8e8a9f;
    --text-accent: #ff8ec6;
}


input {
    border: 0px;
    background: rgb(44, 44, 44);
    outline: none;
    color: var(--text-accent)
}

input::placeholder {
    color: var(--text-muted)
}

.login-section {
    background: linear-gradient(135deg, var(--bg-main) 0%, var(--bg-main2) 100%);
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
}

.login-header {
    color: var(--text-main);
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 30px;
    margin-bottom: 30px;
    width: 100%;
}

.login-box_back {
    padding: 10px;
    background: linear-gradient(135deg, var(--bg-dark-back) 0%, var(--bg-login-box-back) 100%);
    animation-name: livitation;
    animation-direction: reverse;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    transition: 1s;
}

.login-box {
    color: white;
    background: linear-gradient(135deg, var(--bg-dark) 0%, var(--bg-login-box) 100%);
    padding: 80px;
    border-radius: 20px;
    animation-name: livitation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transition: 1s;
}

.login-box:hover {
    animation: none;
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transition: 1s;
}

.write-email input {
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

.write-password input {
    border-radius: 10px;
    padding: 10px;
}

.send-btn {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.send-btn button{
    border: 0px;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    color: var(--text-main);
    background: linear-gradient(135deg, var(--bg-dark-btn) 0%, var(--bg-btn) 100%);
}

@keyframes livitation {
    0% {
        transform: translateY(0px);
        transform: rotateX(0);
        border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    }
    50% {
        transform: translateY(10px);
        transform: rotateX(100);
        border-radius: 30% 70% 61% 39% / 40% 60% 40% 60%;
    }
    100% {
        transform: translateY(0px);
        transform: rotateX(0);
        border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    }
}
