* {
    margin: 0px;
    padding: 0px;
}

:root {
    --bg-dark: #141414;
    --radius-sm: 8px;
    --radius-md: 12px;
    --radius-big: 20px;
    --transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    background: var(--bg-dark);
}

a {
    color: white;
    text-decoration: none;
}

img {
    border-radius: 50%;
    width: 40px;
}

.header-content {
    background: rgb(31, 31, 31);
    gap: 20px;
    justify-content: space-evenly;
    color: white;
    display: flex;
    align-items: center;
}

.info_ {
    padding-bottom: 20px;
    margin-right: 100px;
}

.nickname {
    font-size: 10px;
    color: rgb(150, 150, 150);
}
