* {
    margin: 0;
    padding: 0;
}

:root {
    --bg-light: #2b2b2b;
    --bg-dark: #141414;
}

p {
    color: white;
}

a {
    text-decoration: none;
    color: aliceblue;
}


body {
    background: var(--bg-dark);
}

header {
    font-size: 20px;
    color: white;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.settings {
    margin-left: 20px;
}

.user-name-top {
    justify-content: center;
    font-size: 15px;
    margin-top: 10px;
}

.user-name {
    align-items: center;
    width: 100%;
    display: flex;
    font-size: 15px;
}

.user-name p {
    margin-top: 10px;
    font-weight: 300;
}

.teg {
    margin-right: 20px;
}

.profil-info {
    width: 100%;
}

.profil-main-info {
    display: flex;
    margin: 40px 20px;
}

.profil-img img {
    width: 70px;
    border-radius: 50%;
}

.profil-description {
    margin-left: 50px;
    color: white;
}

.fo-info {
    margin-top: 10px;
    display: flex;
    font-weight: 300;
    font-size: 13px;
    gap: 20px;
}

.content-footer-action {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

.content-footer-action-left {
    margin-left: 20px;
    gap: 20px;
    display: flex;
}

.content-footer-action-left span {
    align-items: center;
    justify-content: center;
    font-size: 13px;
}

.content-footer-action-right {
    margin-right: 10px;
}

.content-footer-text {
    font-size: 13px;
    margin-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

footer {
    color: white;
    background: var(--bg-dark);
    width: 100%;
    height: 48px;
    position: fixed;
    justify-content: center;
    align-items: center;
    bottom: 0px;
    border-top: 1px solid #6b6b6b8f;
}

.footer-content {
    margin-top: 10px;
}

.footer-content nav {
    display: flex;
    justify-content: space-evenly;
}

.profil img {
    width: 25px;
    border-radius: 50%;
}
