* {
    margin: 0px;
    padding: 0px;
}

:root {
    --bg-dark: #141414;
    --radius-sm: 8px;
    --radius-md: 12px;
    --radius-big: 20px;
    --transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    background: var(--bg-dark);
    color: white;
}

/* header {
    display: flex;
    justify-content: space-between;
} */

.header-content {
    padding-bottom: 9px;
    margin: 0px 20px 0px 20px;
    display: flex;
    justify-content: space-between;
}

.header-logo {
    margin-top: 5px;
}

.header-logo h1{
    font-weight: 300;
    font-size: 22px;
}

.header-nav {
    display: flex;
    gap: 20px;
    font-size: 25px;
    font-weight: 400;
}

.download-content {
    font-weight: 200;
}

.story-content {
    overflow-x: auto;
    display: flex;
    margin-left: 20px;
    margin-top: 15px;
    gap: 20px;
}

.story-content::-webkit-scrollbar {
    display: none;
}

.my-story-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
}

.story-content img {
    width: 75px;
    border-radius: 50%;
}