* {
    margin: 0px;
    padding: 0px;
}

:root {
    --bg-dark: #141414;
    --radius-sm: 8px;
    --radius-md: 12px;
    --radius-big: 20px;
    --transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    background: var(--bg-dark);
    color: white;
}

img {
    border-radius: 50%;
}

/* header {
    display: flex;
    justify-content: space-between;
} */

.header-content {
    padding-bottom: 9px;
    margin: 0px 20px 0px 20px;
    display: flex;
    justify-content: space-between;
}

.header-logo {
    margin-top: 5px;
}

.header-logo h1{
    font-weight: 300;
    font-size: 22px;
}

.header-logo span {
    font-weight: 50;
    font-size: 15px;
}

.header-nav {
    display: flex;
    gap: 20px;
    font-size: 25px;
    font-weight: 400;
}

.download-content {
    font-weight: 200;
}

.story-content {
    overflow-x: auto;
    display: flex;
    margin-left: 20px;
    margin-top: 15px;
    gap: 20px;
}

.story-content::-webkit-scrollbar {
    display: none;
}

.my-story-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
}

.story-content img {
    width: 75px;
    border-radius: 50%;
}

.content-header {
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

.aftor {
    margin-top: 15px;
}

.aftor-nemu {
    font-size: 20px;
    margin-bottom: 20px;
}

.aftor-name {
    align-items: center;
    justify-content: center;
    display: flex;
}

.aftor-header {
    justify-content: space-between;
    display: flex;
}

.aftor-content {
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.aftor-img {
    align-items: center;
    justify-content: center;
    display: flex;
}

.aftor-img  img{
    width: 32px;
}

.content-video {
    background: green;
    width: 100%;
    height: 480px;
}
